<?xml version="1.0"?>
<config>
    <modules>
        <Aghayevi_Storefinder>
            <version>1.0.1</version>
        </Aghayevi_Storefinder>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <storefinder before="Mage_Adminhtml">Aghayevi_Storefinder_Adminhtml</storefinder>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <storefinderadmin>
                    <file>storefinder.xml</file>
                </storefinderadmin>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <translate>
            <modules>
                <Aghayevi_Storefinder>
                    <files>
                        <default>Aghayevi_Storefinder.csv</default>
                    </files>
                </Aghayevi_Storefinder>
            </modules>
        </translate>
        <routers>
            <storefinder>
                <use>standard</use>
                <args>
                    <module>Aghayevi_Storefinder</module>
                    <frontName>storefinder</frontName>
                </args>
            </storefinder>
        </routers>
        <layout>
            <updates>
                <storefinder>
                    <file>storefinder.xml</file>
                </storefinder>
            </updates>
        </layout>
    </frontend>
    <global>
        <helpers>
            <storefinder>
                <class>Aghayevi_Storefinder_Helper</class>
            </storefinder>
        </helpers>
        <blocks>
            <storefinder>
                <class>Aghayevi_Storefinder_Block</class>
            </storefinder>
        </blocks>
        <models>
            <storefinder>
                <class>Aghayevi_Storefinder_Model</class>
                <resourceModel>storefinder_mysql4</resourceModel>
            </storefinder>
            <storefinder_mysql4>
                <class>Aghayevi_Storefinder_Model_Mysql4</class>
                <entities>
                    <poi>
                        <table>storefinder_poi</table>
                    </poi>
                    <poi_favourite>
                        <table>storefinder_poi_favourite</table>
                    </poi_favourite>
                    <poi_product>
                        <table>storefinder_poi_product</table>
                    </poi_product>
                </entities>
            </storefinder_mysql4>
        </models>
        <resources>
            <storefinder_setup>
                <setup>
                    <module>Aghayevi_Storefinder</module>
                    <class>Aghayevi_Storefinder_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </storefinder_setup>
        </resources>
    </global>
    <default>
        <storefinder>
            <settings>
                <enable>1</enable>
                <search_radius>10</search_radius>
                <default_map_zoom>10</default_map_zoom>
                <default_latitude>51.5074</default_latitude>
                <default_longitude>0.1278</default_longitude>
                <debug_mode>0</debug_mode>
            </settings>
            <yandex>
                <api_key>a677088a-1ef9-40e9-a0c0-73be999737e9</api_key>
                <geocoding_api_url>
                    <![CDATA[https://geocode-maps.yandex.ru/1.x/?apikey=[[yandex_api_key]]&geocode=[[address]]&lang=en_GB]]>
                </geocoding_api_url>
            </yandex>
        </storefinder>
    </default>
</config>